@media screen and (max-width: 1024px) {
    
    h2{
        font-size: 24px;
        text-align: center
    }
    .container {
        padding-left: $container-mobile-padding;
        padding-right: $container-mobile-padding;
    }
    
    .header {
        padding: 17px 0 15px;

        .container {
            padding-top: 1px;
            padding-bottom: 3px;
        }

        &__logo {
            max-width: 126px;
        }

        &__navigation {
            position: fixed;
            inset: 71px 0 0;
            flex-direction: column;
            padding: 15px 40px 60px;
            background-color: $bg-secondary;
            z-index: 1;

            &-list {
                flex-direction: column;
                margin: 22px auto;
            }

            .btn {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
                padding: 22px;
                justify-content: center;
            }
        }

        &__navigation-item {
            margin-bottom: 11px;
        }

        &__navigation-item-link {
            font-size: 24px;
            line-height: 222%;
        }
    }

    .first-screen {
        margin-bottom: 53px;
    }

    //baner

    .banner {
        padding: 0;
        .slick-slide {
            border-radius: 0;
            padding: 0 40px;
            height: calc(100vh - 72px);
            &:before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #00000099;
            }
            .container {
                height: 271px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0;z-index: 1;
            }
        }

        .btn-lg {
            padding: 19.6px 35px;
        }
    }

    .banner-title {
        font-size: 32px;
        margin-bottom: 10px;
        max-width: 280px;
    }

    .banner-subtitle {
        font-size: 16px;
        margin-bottom: 18px;
        max-width: 260px;
    }

    //table
    
    .calculation-decoration {
        display: none;
    }

    .template-title h2 {
        position: relative;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 124.5%;
        text-transform: uppercase;
        margin-bottom: 24%;
    }
    
    .template-title.col-lg-7 h2:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 113px;
        transform: translate(-50%, 0);
        margin: 0; 
    }

    .template-title.template-title.col-lg-7 {
        margin-bottom: 0;
        text-align: left;
        padding: 0;
    }

    .container.calc {
        padding-right: 20px;
        padding-left: 20px;
    }

    .calculation-form {
        min-width: 100%;
        padding: 49px 30px 34px;
        margin-bottom: 0px;
        gap: 0;
    }

    .input-row {
        display: block;
    }
    
    input {
        margin-bottom: 18px;
        max-width: 600px;
        border-radius: 10px;
        padding: 17px 20px;
        font-size: 14px;
        border: none;
        transition: 0.2s;
        width: 100%;
    }

    .input-column {
        gap: 0;
    }

    .input-box label {
        margin-bottom: 5px;
    }

    #fileInput {
        padding-bottom: 35px;
    }
    
    .column-checkbox {
        padding-top: 8px;
        padding-bottom: 5px;
        gap: 8px
    }
    
    .btn-lg {
        padding: 19.6px 48px;
        font-size: 15px;
    }

    //slick advantage

    .advantages {
        padding: 55px 0 45px;
        margin-top: 60px;
        margin-bottom: 56px;
        &:before {
            border-radius: 0;
            left: 0;
            right: 0;
        }
    }

    h6.advantage-description {
        width: 180px;
    }
    
    .advantages .template-title h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 5px;
    }

    .advantages .template-title {
        margin-bottom: 47px;
    }

    #slider-advantages ul.slick-dots {
        position: absolute;
        bottom: 15px;
    }

    //delivery
    
    .delivery .template-title {
        margin-bottom: 32px;
        h2 {
            margin-bottom: 6px;
        }
    }

    .delivery .slick-dots {
        position: absolute;
        top: 106%;
        left: 27%;
    }

    //services    

    .services {
        padding: 52px 0 80px;
    margin-top: 50px;
    &:before {
        border-radius: 0;
        left: 0;
        right: 0;
    }
    }

    .services h2 {
        margin-bottom: 0;
    }

    .services .template-card .img-box {
        height: 229px;
        margin: 0 -20px 14px;
        display: flex;
        justify-content: center;
    }

    .services .template-card-btn-row .btn {
        width: 53%;
    }

    .services .template-card .template-card__subtitle, .services .template-card h6 {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .services .template-title:after {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(100% - -5px);
        transform: translate(-50%, 0);
        width: 85px;
        height: 2px;
    }

    .services .slick-dots {
        position: absolute;
        top: 102%;
        left: 31%;
    }
}
